

<h1>Calculate monthly payment</h1>

<form action="/payment/results">
 
  <label for="cat"> APR</label>

  <input id="cat" type="text" name="users_number">


   <label for="lizard"> Number of years</label>


  <input id="lizard" type="text" name="users_number">

   <label for="duck"> Principal</label>

  <input id="duck" type="text" name="users_principal">

  <button>Calculate monthly payment</button>
  </form>
