<h1>Payment Results</h1>


<dl>
  <dt>
    APR
  </dt>
  <dd>
    <%= ((params.fetch("users_apr").to_f).to_fs(:percentage))%>
  </dd>

  <dt>
    Number of Years
  </dt>
  <dd>
    <%= params.fetch("users_year") %>
  </dd>


  <dt>
    Principal
  </dt>
  <dd>
    <%= params.fetch("users_principal").to_f.to_fs(:currency)%>
  </dd>

  <dt>
    Payment
  </dt>
  <dd>
    <%= @payment.to_fs(:currency) %>
  </dd>



<a href="/payment/new">
  Calculate another payment
</a>
