<h1>Pick random number</h1>


<form action="/random/results">
  <label for="dove"> Minimum</label>

  <input id="dove" type="text" name="users_number">
  
 <label for="bird"> Maximum</label>

  <input id="bird" type="text" name="users_number">



  <button>Pick random number</button>
  </form>
